*{
    box-sizing: border-box;
    font-family: Arial;
}
body,html{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 100%;
	user-select: none;
	background-color: #1c1c1c;
	box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);;
}
.slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slide_img button{
    margin-top: 20px;
    background-color:whitesmoke;
    opacity: 0.9;
    border: 1px solid;
    border-radius: 4px;
    border-color: lightslategray;
    padding: 5px 20px;
    text-transform: uppercase;
    
}

.slide-add{
    position: absolute;
    top: 140px;
    padding: 2%;
    margin-left: 1%px;
    color: gray;
    background-color: whitesmoke;
    opacity: 0.9;
    
    z-index:0;
}

.nav-left img{
    width: 86px;
    height: auto;

}
.bar{
    background-color: transparent;
    text-align: right;
}
.bar .right{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-center{
    background-color: transparent;
    margin-top:2%;
    width: 50%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
}

.search{
  
    border: 1px;
    width: 70%;
    margin-top: 2%;
    background-color: transparent;
    border-style: solid;
    display: flex;
    justify-content:space-around;
    border-color: #d2d0d0;
    border-radius: 0 5px 5px 0;
    
    
}
.search i{
    color:#d2d0d0 ;
    padding: 5px ;
    
}
.search button{
    
    background-color: white;
    text-decoration: none;
    overflow: hidden;
    height: 30px;
    text-transform: uppercase;
    color: #bababa;
    border-width: 0px 0px 0px 1px;
    
    border-style: solid;

   
}
.search input{
    height: 30px;
    width: 70%;
    border: none;
    
}
li{
    list-style: none;
}
.nav-center-bottom{
    background-color: transparent;
    padding-top: 2%;
    width: 100%;
    justify-content: space-between;
    
}
.nav-right{
    font-size: 25px;
   
    align-items: center;
}
.nav-left{
    align-items: center;
}
.slide_img img {
        width: inherit;
        height: inherit;
    }
#nav_slide{
        width: 100%;
		bottom: 10%;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
		/* position: absolute; */
		text-align: center;
        z-index: 99;
       
		cursor: default;
}
#nav_slide .dots{
  
   
    /* //position: relative; */
    display: inline-block;
    
    transition: .4s;
    cursor: pointer;
    border-bottom: gray;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
	z-index: 9;
}
section{
    margin-top: 2%;
}
.products{
     margin-top: 5%;
    background-color: transparent;
}
.about{
    background-color: #f5f5f5;
    padding: -1px 50px;
    flex-direction: row;
    justify-content: space-between;
}
.way{
    
    background-image: url("../img/brand-story-background.svg");
    background-position-x: 150%;
    background-position-y: 120%;
    background-repeat: no-repeat;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
}
.flex{
    display: flex;
    
}
.column{
    flex-direction: column;
}
.reverse{
    flex-direction: row-reverse;
}

.products-card h2{
    font-size: 20px;
    font-family:Arial;
    font-style: italic;
   
}

.products-card{
    background-color: transparent;
    justify-content: center;
}
.product-item{
    background-color: transparent;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
}
.product-item img{
    width: 100px;
    height: 150px;
    margin-bottom: 8px;
}
.product-item p{
    margin-bottom: 5px;
}
.color{
    background-color: transparent;
}
.way h1{
    font-size: 50px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}
.info{
    
    padding: 0 8% ;
    background-color: transparent;
    display: flex;
    align-items: center;
    
    
}
.nuskin-ourway__info img{
    width: 100%;
}
.img-resp{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
}
.info-card{
    margin: -1px 20px;
    width: 50%;
    align-items: center;
    background-color: transparent;
}
.info-card h2{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 5px;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: auto;
    
}
.card h4{
    margin-top: 2%;
}
.card{
    margin: 3%;
    width: 33%;
    background-color: transparent;
   
}
.card a{
    padding-bottom: 2%;
 
    text-decoration: none;
    color: lightslategrey;
}
.footer-left{
    justify-content: center;
    background-color: #4e4d4d;
    margin-left: -1px;
    width: 40%;
    align-items: center;
}
.footer-left button{
 padding: 3%;
 background-color:#6d6565;
 color: white;
 border-radius: 3px;
 border-style: solid;
 font-weight: bold;
 font-size: 11px;
}
.footer-left button:hover{
    transition: 0.5s;
    background-color: #484545;
}
.footer-nav{
    align-items: flex-end;
    justify-content: space-around;
     background-color: #6d6565; 
    /* background-color: seagreen; */
    padding-top: 2%;
    padding-bottom: 1%;
    text-transform: uppercase;
    width: 100%;
   
 
}
.footer-nav-top{
    text-align: right;
    width:100%;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
  
   
    
}
.footer-nav-top li{
    
    justify-content: flex-end;
    margin-left:5%
    
    
   
}
.footer-nav-top ul{
    margin-right: 5%;
    justify-content: flex-end;
  
    background-color: transparent;
}
.footer{
    background-color: #6d6565;
    justify-content:space-around;
    color: white;
    
   
}
.social-icon li{
 list-style: none;
margin-left: 5%;


}
.social-icon li a {
    color: white;
}
.social-icon{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
   
}
.space-around{
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    background-color: transparent;
}
.icons{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    text-align: right;
    background-color: transparent;
}
.icons h5{
    padding-right: 5%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media (max-width: 800px) and (min-width:670px){

.nav-center{
    width:40%;
}
.img-card{
    width: 100%;
    height: 70%;
}
.nav-center-bottom{
    display: none;
}
.search button{
    display: none;
}


}

@media (max-width: 670px){
    .about{
        flex-direction: column;
    }
    .card{
        width: 90%;
    }
    .content{
        flex-direction: column;
    }
    .nuskin-ourway__info img{
        width: 100%;
    }
    .img-resp{
       width: 100%;
      
       
    }
    .info-card{
        width: 100%;
    }
    .nav-center-bottom{
        display: none;
    }
    .search button{
        display: none;
    }
    .nuskin-ourway__content{
        margin: -1px;
    }
    .nuskin-ourway__info{
        flex-direction: column;
       
    }
    .footer{
        flex-direction: column;
    }
   
    .footer-nav-top ul{
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        margin:0;
    }
    .footer-nav-top ul li{
        margin-bottom: 10px;
     
       
      
    }
    .footer-nav-top {
        text-align: left;
    }
    .footer-left{
        width: 100%;
    }
    .footer-left button{
        margin-bottom:20px;
    }
    .icons{
        
        width: 100%;
        text-align: left;
        background-color: transparent;
    }
    .social-icon{
        justify-content: flex-start;
        padding: 0;
    }
    
    .icons h5{
        margin-left: 7%;
        margin-bottom: 0;
    }
    }


    /* --------------- */
    .display--on{
        display: flex;
    }
    .display--off{
        display: none;
    }
    
    .nuskin-header__bar{
        color: #ccc5c5;
        text-align: right;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        
     
        
    }
    .nuskin-header__bar .bar1{
        color: #6b6363;
        border-width: 0px 2px 0px 2px;
        padding-right: 10px;
        padding-left: 10px;
        border-color: #ccc5c5;
        margin-right: 0px;
    }
    .nuskin-header__bar .bar2{
        color: #6b6363;
        border-width: 0px 2px 0px 0px;
        padding-right: 40px;
        padding-left: 6px;
        border-color: #ccc5c5;
        margin-right: 0px;
    }

    .nuskin-header__bar span{
        font-family: 'Heebo', sans-serif;
        border-style: solid;
    }
   
    
    .slide__list  {
        background-color: transparent;
        height: 350px;
        position: relative;
    }

    .slide__item {
        height: 100%;
        
    }
    #slide1 {
        background: url('../img/bar_desktop.jpg');
        background-position: center;
        background-size: 100% 100%;
        

    }
    #slide2{
        background: url('../img/recovery_mask_desktop.jpg');
        background-position: center;
        background-size: 100% 100%;

    }
    #slide3{
        background: url('../img/bar_desktop.jpg');
        background-position: center;
        background-size: 100% 100%;
    }
    .item__box{
        color: gray;
        background-color: whitesmoke;
        opacity: 0.9;
        padding: 3%;
        position: absolute;
        display: inline-block;
       
        
       
        
        
      
    }
    
    .item__box button:hover{
        transition: 0.5s;
        background-color:#cec4c4 ;
    }
    .right{
        right: 10%;
        top:25% ;
    }
    .left{
        top: 25%;
        left: 15%;
    }
    .item__box button{
        padding-left: 15px;
        background-color: white;
        text-decoration: none;
        padding: 2%;
        border:1px solid gray;
        border-radius: 3px;
      
    }

    .slide__nav{
        display: flex;
        justify-content: space-around;
    }
    .slide-nav__dot {
        padding: 20px 30px;
        
    }
    .border-botton{
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: gray;
       
    }

    .nuskin-ourway{
    
        background-image: url("../img/brand-story-background.svg");
        background-position-x: 150%;
        background-position-y: 120%;
        background-repeat: no-repeat;
    }
    .nuskin-ourway__title{
        text-align: center;
        font-size: 70px;
        font-family:  'Dancing Script', cursive;
        margin-bottom: 25px;
    }
    .nuskin-ourway__content{
        display: flex;
        flex-direction: column;
    }
    .nuskin-ourway__info{
        padding: 0 8% ;
        background-color: transparent;
        display: flex;
        align-items: center;
    }
    .nuskin-header__nav{
      
        justify-content: space-around;
    }
   
    .product-item span{
        font-weight: bold;
       
    }
    p{
         font-family: 'Heebo', sans-serif;
    }
    .about h4,h2{
        font-family: 'Heebo', sans-serif;
    }
    .card h4{
        text-transform: uppercase;
        font-weight: bolder;
    }